/* layout */
main {
    text-align: center;
}
article {
    width: 225px;
    margin-left: auto;
    margin-right: auto;
}
section {
    text-align: left;
}
section h3 {
    text-align: center;
}
/* aesthetic */
main {
    font-family: 'Courier New', Courier, monospace;
}
button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html {
    background-color: black;
    color: whitesmoke;
}